.nav {
  width: 95%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.6rem 0;
  font-size: var(--font--accent);
  z-index: 100;
}

.logo a {
  font-size: 40px;
  font-weight: 800;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.logo b {
  color: var(--accent--hover);
  font-size: 70px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  color: var(--accent);
}
.nav-btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.download {
  color: var(--accent);
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.download:hover {
  border-color: var(--accent--hover);
  color: var(--accent--hover);
}
