@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "poppins", sans-serif;
}

body {
  background-color: var(--bg);
  height: 100vh;
}

a:visited {
  color: var(--accent);
}
a:hover {
  color: var(--accent--hover);
}

button,
select {
  cursor: pointer;
}

.center {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.border {
  border-radius: 8px;
  padding: 5px 10px;
  border: 1.5px solid var(--accent);
}
.border:hover {
  border-color: var(--accent--hover);
}

/* Animation */
.slide-y-in,
.slide-y-out,
.slide-x-in,
.slide-x-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
}

.slide-y-in {
  background-color: rgb(46, 116, 116);
  transform-origin: top;
}

.slide-y-out {
  background-color: rgb(46, 116, 116);
  transform-origin: bottom;
}

.slide-x-in {
  background-color: rgb(47, 46, 116);
  transform-origin: left;
}

.slide-x-out {
  background-color: rgb(47, 46, 116);
  transform-origin: right;
}

.slide-x-in,
.slide-x-out,
.slide-y-in,
.slide-y-out {
  background: linear-gradient(
    -45deg,
    var(--accent),
    var(--accent--hover),
    #23a6d5,
    #23d5ab
  );
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

body {
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
