* {
  font-family: "Times New Roman", Times, serif; /* Temp */
}

body {
  background-color: var(--bg);
}

a:visited {
  color: var(--accent);
}
a:hover {
  color: var(--accent--hover);
}

button,
select {
  cursor: pointer;
}

.center {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.border {
  border-radius: 8px;
  padding: 5px 10px;
  border: 1.5px solid var(--accent);
}
.border:hover {
  border-color: var(--accent--hover);
}
