@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #000000;
    --color-fill: #ccfffd;
    --button-accent: #ffaaaa;
    --button-accent-hover: #ec8888;
  }

  .theme-dark {
    --color-text-base: #ffffff;
    --color-fill: #0c1333;
    --button-accent: #4c1c6f;
    --button-accent-hover: #3e145c;
  }
}
